
<% if @fl.any? %>

	<div class="container">

	  <%= search_form_for @search do |f| %>
	    
	    <div class="row g-3 align-items-center py-3">

	      <div class="col-auto">
	        <%= f.label :square_eq, 'Search by square (m2)', class: 'col-form-label' %>
	      </div>
	 
	      <div class="col-sm-1">
	        <%= f.text_field :square_eq, class: 'form-control' %>
	      </div>

	      <div class="col-auto">
	        <%= f.submit 'Find', class: 'btn btn-outline-primary btn-sm' %>             
	      </div>

	    </div>

	  <% end %>

	  <div class="py-3">
		  <p>
		    Sort by:
		    <%= sort_link(@search, :number, ' Flat number ', default_order: :desc) %> |
		    <%= sort_link(@search, :square, ' Square ', default_order: :desc) %> |
		    <%= sort_link(@search, :status, ' Status ', default_order: :desc) %> |		    
		    <%= link_to 'Reset', flats_path, class: 'btn btn-outline-success btn-sm' %>
		  </p>
  	  </div>
	 

		<h5 class="position-fixed top-50 end-0"><span class="badge  bg-info"> All flats </span></h5>
		 

	    <div class="p-3 mb-2 bg-light ">
		<table class="table table-striped">
		  	<tbody class="text-center">
		  		
		  		<tr>

		  			<th class="p-3 mb-2 bg-info text-light"> Flat number </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Entrance </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Floor </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Square </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Rooms </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Status </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Show </th>

		  			<th class="p-3 mb-2 bg-info text-light"> Show similar </th>


		  		</tr>

		  		 <%= render "fl" %>

		  	</tbody>

		</table>
	    </div>



		<div class="paginator"><%= will_paginate @fl %></div>

	<% elsif params[:q].present? %>

	      </br>

		  <div class="container"> 

		  <p class="text text-danger"> Out of <%= @flats_count %> flats, 0 were found </p>

		  <p> <%= link_to 'Show all flats', flats_path, class: 'btn btn-outline-secondary btn-sm' %> </p>
	

	<% end %>

	</div>






