

<div class="container">

	<%= form_for ([@plan,@plan.flats.build]) do |f| %>

	<div class="row align-items-start">

		<%if @error %>
			<div class="alert alert-danger"><%=@error.join(",")%></div>
		<% end %>

	
		<div class="col">

			      <div class="col-sm">
					<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
					<%= f.submit 'Save flat' ,class: "btn btn-outline-success" %>						
				  </div>

				</br>


				<div class="row g-3">

				  <div class="col-sm">
				    <%= f.label :number %>
					<%= f.text_field :number, class: "form-control" %>
				  </div>

				  <div class="col-sm">
				    <%= f.label :entrance %>
					<%= f.select :entrance, [['1', 1], ['2', 2]] , {}, {class: "form-control"} %>
				  </div>

				  <div class="col-sm">
				    <%= f.label :floor %>
					<%= f.text_field :floor, class: "form-control" %>
				  </div>

				  <div class="col-sm">
				    <%= f.label :square %>
					<%= f.text_field :square, class: "form-control" %>
				  </div>

				</div>
		</div>

		<div class="col">
		</div>
	</div>


	<div class="row align-items-start">

		<div class="col">


				<div class="row g-3">

				  <div class="col-sm-2">
				    <%= f.label :rooms %>
					<%= f.select :rooms, [['1', 1], ['2', 2], ['3', 3]] , {}, {class: "form-control"} %>
				  </div>

				  <div class="col-sm-4">
				    <%= f.label :status %>
					<%= f.select :status, [['On sale', 1], ['Booked', 0]] , {}, {class: "form-control"} %>
				  </div>

				  <div class="col-sm">
				    <%= f.label :image %>
    				<%= f.file_field :image %>
				  </div>				  

				</div>
		</div>

		<div class="col">	
		</div>

	</div>

	<% end %>

</div>
	






