
<div class="container">

	<% @contacts.each do |contact| %>


     <small>Date : <%= contact.updated_at.to_date.strftime ("%d/%m/%y") %> </small> </br>
     <small>Name : <%= contact.name %> </small> </br>
     <small>Surname : <%= contact.surname %> </small> </br>
     <small>Phone number : <%= contact.phone %> </small> </br>
     <small>Flat number : <%= contact.flat %> </small> </br>
    

    </br>
    <hr>

    <% end%>	

</div>