   
<div class="position-fixed top-50 start-0">
	<%= link_to I18n.t('.add_plan_button') ,new_admin_plan_path, class: "btn btn-danger" %>
</div>

    <div class="p-3 mb-2 bg-white text-dark">
	<table class="table table-hover">		
	  	<tbody class="text-center">
	  		
	  		<tr>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Plan (flat type)</th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Square (m2) </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Rooms </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Flats on sale </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Sold out </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Info </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Edit </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Delete </th>
	  			
	  			
	  		</tr></br>


			<% @plans.each do |line| %>

		     <tr>

		       <!--<td> <%=image_tag line.image.url(:thumb) %> </td>-->

		       <td><div style="width:110px; height:110px">

						<figure class="figure">
	  						<img src="https://galiwigs.co.uk/hood/images/no-image.jpg" class="figure-img img-fluid rounded">
						</figure>
	  
 					</div>

 			   </td>

			   <td> </br></br> <%= line.kind %> </td>

			   <td> </br></br> <%= line.rooms %> </td>

			   <td> </br></br> 
			   	               <% n = line.flats.group(:status).count %>
			   	               
			   	    <h6  class="text text-success"> <%= n[true].to_i+0 %> </h6>
			   	             
			   </td>


			   <td> </br></br> 
			   	               <% n = line.flats.group(:status).count %>
			   	               
			   	    <h6  class="text text-danger"> <%= n[false].to_i+0 %> </h6>
			   	             
			   </td>
			   

			   <td> </br></br> <%= link_to I18n.t('.show_plan_button'),admin_plan_path(line), class: "text-decoration-none text-danger" %></td>



			  <td> </br></br> <%= link_to I18n.t('.edit_button'),edit_admin_plan_path(line), class: "text-decoration-none text-danger" %> </td>

              <td> </br></br> <%= link_to I18n.t('.delete_button'),admin_plan_path(line), method: :delete, data: {confirm: "Delete position"}, class: "text-decoration-none text-danger" %>
              </td>

			
		     </tr>

		    <% end %>
 

		</tbody>
	</table>
	</div>

</div>

</div>




  