
<div class="container">

	<%if @error %>
			<small class="alert alert-danger"><%=@error.join(" , ")%></small>
	<% end %>

</div>

</br> </br>


<div class="container">

	<h6> Add plan </h6></br>
		
		<div class="col">


			<%= form_for :plan,url: admin_plans_path do |f| %>

			      
				  <div class="col-sm-1">
				    <%= f.label :kind %>
					<%= f.text_field :kind, class: "form-control" %>
				  </div>

				  <div class="col-sm-1">
				    <%= f.label :rooms %>
					<%= f.select :rooms, [['1', 1], ['2', 2], ['3', 3]] , {}, {class: "form-control"} %>
				  </div>

				  </br>

				  <div class="col-sm-3">
				   <%= f.label :image %>
    			   <%= f.file_field :image, class: "form-control" %>
				 </div>

				 </br>

				 <div class="col-sm-4">
					<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
					<%= f.submit 'Save plan' ,class: "btn btn-outline-success" %>						
				 </div>
				 

			<% end %>
		</div>
</div>









