

<div class="container">

	<%if @error %>
		<small class="alert alert-danger"><%=@error.join(" , ")%></small>
	<% end %>

</div></br></br>


<div class="container">

<h6>Edit Flat</h6></br>


<%= form_for :flat,url: admin_plan_flat_path(@plan,@flat),method: :put do |f| %>


	<div class="row g-3 align-items-center">

		<div class="col-sm-1">
			<small><%= f.label :number %></small>
			<%= f.text_field :number, class: "form-control" %>
		</div>

		<div class="col-sm-1">
			<small><%= f.label :entrance %></small>
			<%= f.select :entrance, [['1', 1], ['2', 2]] , {}, {class: "form-control"} %>
		</div>

		<div class="col-sm-1">
			<small><%= f.label :floor %></small>
			<%= f.text_field :floor, class: "form-control" %>
		</div>

	</div></br>

	<div class="row g-3 align-items-center">

		<div class="col-sm-1">
			<small><%= f.label :square %></small>
			<input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled  value="<%= @plan.kind %>">
		</div>

		<div class="col-sm-1">
			<small><%= f.label :rooms %></small>
			<input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled  value="<%= @plan.rooms %>">
		</div>

	</div></br>

	<div class="row g-3 align-items">
		<div class="col-sm-2">
			<small><%= f.label :status %></small>
			<%= f.select :status, [['On sale', 1], ['Booked', 0]] , {}, {class: "form-control"} %>
		</div>
	</div></br>

	<div class="row g-3 align-items">
		<div class="col-sm-3">
			<small><%= f.label :image %></small>
			<%= f.file_field :image, class: "form-control" %>
		</div>
	</div>

	</br>

		<div class="form-group">
			<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
			<%= f.submit 'Save flat' ,class: "btn btn-outline-success" %>   
		</div>

<% end %>

</div>





