
<div class="position-fixed top-50 start-0">
	<%= link_to 'Add Flat',new_admin_flat_path, class: "btn btn-danger" %>
</div>

<div class="container">

    <div class="p-3 mb-2 bg-white text-secondary">
	<table class="table">
	  	<tbody class="text-center">
	  		
	  		<tr>

	  			<th class="p-3 mb-2 bg-secondary text-white">Flat number </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Entrance </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Floor </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Square (m2) </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Rooms </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Status </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Show </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Show similar</th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Edit </th>

	  			<th class="p-3 mb-2 bg-secondary text-white"> Delete </th>

	  		</tr></br>


			<% @flats.each do |line| %>

		     <tr>

			   <td> <%= line.number %> </td>

			   <td> <%= line.entrance %> </td>

			   <td> <%= line.floor %> </td>

			   <td> <%= line.square %> </td>

			   <td> <%= line.rooms %> </td>

			        <% line.status %>

                    <% if line.status==true %>

                       <td class="text-success"> On sale </td>
                    	
                    <% else %>

                       <td class="text-danger"> Booked </td>

                    <% end %>


                 <td> <%= link_to 'Show', admin_plan_flat_path(line.plan_id,line.id) , class: "text-decoration-none text-danger" %></td>

                 <td> <%= link_to 'Show similar',admin_plan_path(line.plan_id,line.id), class: "text-decoration-none text-danger "%>

                 <td> <%= link_to 'Edit', edit_admin_plan_flat_path(line.plan_id,line.id) , class: "text-decoration-none text-danger"  %></td>

                 <td> <%= link_to 'Delete',admin_plan_flat_path(line.plan_id,line.id), method: :delete, data: {confirm: "Delete position"}, class: "text-decoration-none text-danger "%>
			
		     </tr>


		    <% end %>
 

		</tbody>

	</table>
    </div>

</div>

</div>


















