
<div class="container">

	<%if @error %>
		<small class="alert alert-danger"><%=@error.join(" , ")%></small>
	<% end %>

</div>

	</br>

<div class="container">

	<h6> Add Flat </h6></br>

	<%= form_for :flat,url: admin_flats_path(@flats) do |f| %>

		

               	<div class="row g-3 align-items-center">
			   	  	<div class="col-sm-1">
					    <small><%= f.label :number %></small>
						<%= f.text_field :number, class: "form-control" %>
				  	</div>

				  	<div class="col-sm-1">
					    <small><%= f.label :entrance %></small>
						<%= f.select :entrance, [['1', 1], ['2', 2]] , {}, {class: "form-control"} %>
				  	</div>

				  	<div class="col-sm-1">
					    <small><%= f.label :floor %></small>
						<%= f.text_field :floor, class: "form-control" %>
				  	</div>
				</div></br>


			    <div class="row g-3 align-items-center">
				  	<div class="col-sm-1">
					    <small><%= f.label :rooms %></small>
						<%= f.select :rooms, [['1', 1], ['2', 2], ['3', 3]] , {}, {class: "form-control"} %>
				  	</div>

				  	<div class="col-sm-1">
					    <small><%= f.label "Square (m2)" %></small>
						<%= f.select :square, [['25', 25], ['29', 29], ['33', 33], ['36', 36], ['40', 40], ['41', 41], ['48', 48], ['49', 49]],  {}, {class: "form-control"} %>
				  	</div>

				  	<div class="col-sm-1">
					    <small><%= f.label "Plan type" %></small>
						<%= f.select :plan_id, [['25', 1], ['29', 2], ['33', 3], ['36', 4], ['40', 5], ['41', 6], ['48', 7], ['49', 8]],  {}, {class: "form-control"} %>
				  	</div>

				</div></br>


				  	<div class="col-sm-2">
					    <small><%= f.label :status %></small>
						<%= f.select :status, [['On sale', 1], ['Booked', 0]] , {}, {class: "form-control"} %>
				  	</div>

				</br>  

				  	<div class="col-sm-3">
					    <small><%= f.label :image %></small>
	    				<%= f.file_field :image %>
				  	</div>

				</br>

				  	<div class="col-sm">
						<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
						<%= f.submit 'Save flat' ,class: "btn btn-outline-success" %>						
				  	</div>			 		

	<% end %>

</div>
	






