<div class="container">

	<h4>Edit plan</h4>


	<%if @error %>
		<div class="alert alert-danger"><%=@error.join(",")%></div>
	<% end %>


	<%= form_for :plan,url: plan_path(@plan),method: :put do |f| %>

		<div class="row g-3 align-items-center">
		<div class="col-auto">
			<%= f.label :kind %>
			<%= f.text_field :kind, class: "form-control" %>
		</div>
		</div>


		<div class="row g-3 align-items-center">
		<div class="col-auto">
			<%= f.label :rooms %>
			<%= f.text_field :rooms, class: "form-control" %>
		</div>
		</div>


		<div class="row g-3 align-items-center">
		<div class="col-auto">
			<%= f.label :image %>
			<%= f.file_field :image, class: "form-control" %>
		</div>
		</div>


		<div class="form-group">
			<%= f.submit 'Save plan' ,class: "btn btn-outline-success" %>   
			<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>	
		</div>


	<% end %>

</div>




