

<div class="container">
	
	<h5 class="position-fixed top-50 end-0"><span class="badge  bg-info"> Plans </span></h5>

    <div class="p-3 mb-2 bg-white text-info">
	<table class="table">		
	  	<tbody class="text-center">
	  		
	  		<tr>

	  			<th class="p-3 mb-2 bg-info text-white"> Plan (flat type)</th>

	  			<th class="p-3 mb-2 bg-info text-white"> Square (m2) </th>

	  			<th class="p-3 mb-2 bg-info text-white"> Rooms </th>

	  			<th class="p-3 mb-2 bg-info text-white"> Flats on sale </th>

	  			<th class="p-3 mb-2 bg-info text-white"> Sold out </th>

	  			<th class="p-3 mb-2 bg-info text-white"> Show plan & flats </th>

	  			
	  		</tr></br>

			<% @plans.each do |line| %>

		     <tr>

		       <!-- <td> <%=image_tag line.image.url(:thumb) %> </td> -->

		       <td><div style="width:110px; height:110px">

						<figure class="figure">
	  						<img src="https://galiwigs.co.uk/hood/images/no-image.jpg" class="figure-img img-fluid rounded">
						</figure>
	  
 					</div>

 			   </td>

 			   
			   <td> </br></br> <%= line.kind %> </td>

			   <td> </br></br> <%= line.rooms %> </td>

			   <td> </br></br> 
			   	               <% n = line.flats.group(:status).count %>
			   	               
			   	    <h6  class="text text-success"> <%= n[true].to_i+0 %> </h6>
			   	             
			   </td>


			   <td> </br></br> 
			   	               <% n = line.flats.group(:status).count %>
			   	               
			   	    <h6  class="text text-danger"> <%= n[false].to_i+0 %> </h6>
			   	             
			   </td>
			   

			   <td> </br></br> <%= link_to I18n.t('.show_plan_button') , plan_path(line), class: "text-decoration-none text-info" %></td>

			
		     </tr>

		    <% end %>
 

		</tbody>
	</table>
	</div>

</div>

</div>




  